.movie-card {
  max-width: 300px;
  border: 3px solid black;
  border-radius: 15px;
  color: black;
  background-color: rgb(240, 240, 240);
  line-height: 2em;
  margin: 20px auto;
  padding: 5px;
}

.movie-card:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

$blue: rgb(21, 155, 234);
$darkblue: rgb(6, 46, 70);

.btn-primary {
  background-color: $blue !important;
  border-color: $blue !important;
  &:hover {
    background-color: $darkblue !important;
    border-color: $darkblue !important;
  }
}
