$lblue: rgb(226, 234, 252);
$mblue: rgb(106, 130, 183);
$dblue: rgb(76, 94, 133);
$brown: rgb(74, 62, 66);
$cream: rgb(248, 237, 235);
$white: rgb(255, 255, 255);

.movie-carousel {
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden !important;
  max-height: 250px !important;
}

.carousel {
  object-fit: cover;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
