$blue: rgb(21, 155, 234);

* {
  font-family: 'Be Vietnam Pro', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'Mali', cursive;
}

.container-fluid {
  padding: 0px !important;
}

@media (max-width: 797px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
